html {
  scroll-behavior: smooth;
}

body, html {
  height: 100%;
}

body {
  margin: 0;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0, 15px;
  z-index: 1000;
  color: white;
}

.logo-name {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-name img {
  width: 40px;
}

.logo p {
  color: rgb(166, 176, 186);
  font-size: 18px;
  margin: 0;
  font-weight: bold;
}

.desktop-nav {
  display: none;
}

.overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  display: none;
}

.overlay-content {
  position: relative;
  top: 30%;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.overlay-content a {
  color: white;
  font-size: 24px;
  text-decoration: none;
}

.closebtn {
  position: absolute;
  top: 20px;
  right: 40px;
  font-size: 40px;
  color: white;
  text-decoration: none;
}

#hamburgerMenu {
  display: block;
  font-size: 30px;
  cursor: pointer;
}

.overlay a:hover, .overlay a:focus {
  color: rgb(241, 241, 241);
}

.hero {
  background-color: rgb(160, 148, 143);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/hero.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-content {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.hero h1 {
  font-size: 32px;
}

.hero p {
  font-size: 18px;
}

.about {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: auto;
  background-color: rgb(112, 128, 144);
  color: white;
  padding: 20px;
  box-sizing: border-box;
}

.about-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}

.text {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
}

.text h2 {
  font-size: 30px;
}

.text p {
  font-size: 18px;
}

.image {
  flex: 1;
  width: 100%;
  height: auto;
}

.image img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.services {
  padding: 30px 15px;
  background-color: rgb(245, 245, 245);
}

.services h3 {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  padding-bottom: 10px;
}

.services-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.service-item {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.service-item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.service-item h3 {
  margin-top: 20px;
  font-size: 24px;
}

.service-item p {
  font-size: 16px;
  margin-top: 10px;
}

.contact {
  background-color: rgb(37 71 92);
  color: rgb(186, 190, 200);
  padding: 30px 15px;
}

.contact h2 {
  font-size: 32px;
  font-weight: bold;
}

.contact p {
  font-size: 18px;
}

.social-icons a {
  margin-right: 15px;
}

@media (min-width: 768px) {
  .hero h1 {
    font-size: 48px;
  }

  .hero p {
    font-size: 22px;
  }

  .about-content {
    flex-direction: row;
  }

  .services-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .desktop-nav {
    display: flex;
    gap: 2rem;
    align-items: center;
    margin-left: auto;
  }

  .desktop-nav a {
    text-decoration: none;
    color: #aaa;
    font-weight: bold;
    padding: 5px 10px;
    transition: color 0.3s;
  }

  .desktop-nav a:hover,
  .desktop-nav a.active {
    color: white;
  }

  /* Hide overlay and hamburger */
  #myNav,
  #hamburgerMenu {
    display: none;
  }
  
  
  .overlay {
    display: flex;
    position: static;
    width: auto;
    height: auto;
    background: none;
    justify-content: flex-end;
    align-items: center;
  }

  .overlay-content {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    position: static;
    top: auto;
    width: auto;
    text-align: right;
  }

  .overlay-content a {
    display: block;
    font-family: Arial, sans-serif;
    text-decoration: none;
    font-size: 16px;
    color: rgb(180, 180, 180);
    font-weight: bold;
    padding: 5px 10px;
    cursor: pointer;
    transition: color 0.3s;
  }

  .overlay-content a.active {
    color: white;
  }

  .overlay-content a.active {
    color: white;
  }

  .services-container {
    grid-template-columns: repeat(4, 1fr);
  }
}